<h1>Assignment 6</h1>
<h3>by TJ Holt</h3>

<form style="width:25%; margin-top:30px;">
    <fieldset>
        <legend>New Row</legend>
        Name:
        <input type="text" id="uName" required /><br />
        Reps:
        <input type="number" id="uReps" required /><br />
        Weight:
        <input type="number" id="uWeight" required /><br />
        date:
        <input type="date" id="uDate" required /><br />
        unit:
        <select id="uUnit" required>
            <option [ngValue]="true">lbs</option>
            <option [ngValue]="false">kg</option>
        </select><br />
    </fieldset>
    <input type="submit" onclick="dataCheck()" />
</form>
<script>
    function dataCheck()
    {
        var name = document.getElementById("uName").value;
        var reps = document.getElementById("uReps").value;
        var weight = document.getElementById("uWeight").value;
        var date = document.getElementById("uDate").value;
        var unit = document.getElementById("uUnit").value;
        var req = new XMLHttpRequest();
        var url = 'http://flip3.engr.oregonstate.edu:6329/workouts';
        var payload = JSON.stringify({ name: name, reps: reps, weight: weight, date: date, lbs: unit });
        console.log(payload);

        req.open("POST", url, true)
        req.setRequestHeader('Content-type', 'application/json');
        req.send(payload);
    }
</script>