<h1>Assignment 6</h1>
<h3>by TJ Holt</h3>

<input type="submit" id="uSubmit" onclick="dataCheck()" />
<span id="testThis">This is what should load up on first load</span>


<script>

    function dataCheck()
    {
            console.log("function Started");
            var req = new XMLHttpRequest();
            var url = 'http://flip3.engr.oregonstate.edu:6329/insert';

            req.open("POST", url, true);
            req.setRequestHeader('Content-Type', 'application/json');
            req.send(null);
            console.log(req.responseText);
    }
</script>