<h1>Assignment 6</h1>
<h3>by TJ Holt</h3>

<input type="submit" id="uSubmit" />
<span id="testThis">This is what should load up on first load</span>
<script>
    document.addEventListener('DOMContentLoaded', dataCheck);

    function dataCheck()
    {
        document.getElementById('uSubmit').addEventListener('click', function (event)
        {
            console.log("function Started");
            var req = new XMLHttpRequest();
            var payload = {};
            payload.myWord = "hello";


            var url = 'http://flip3.engr.oregonstate.edu:6329/insert';

            req.open("POST", url, true);
            req.setRequestHeader('Content-Type', 'application/json');;
            req.send(null);
            console.log(JSON.parse(req.responseText));
        })
    }

</script>