<h1>Workouts</h1>

<fieldset class="form_content">
    <legend>Workout Tracker</legend>
    <form action="" method="">
        <div class="text_input_content">
            Workout Name:
            <input id='name_field' type="text" name="workout_name"></input>
        </div>
        <div class="text_input_content">
            Reps:
            <input id='reps_field' type="text" name="workout_reps"></input>
        </div>
        <div class="text_input_content">
            Weight (lbs):
            <input id='weight_field' type="text" name="workout_weight"></input>
        </div>
        <div class="text_input_content">
            Date:
            <input id='date_field' type="text" name="workout_date"></input>
        </div>
        <div class="text_input_content">
            Unit (lbs or kg):
            <input id='unit_field' type="text" name="workout_unit"></input>
        </div>
        <div>
            <input id="submit_post" type="button" value="Submit Workout"></input>
        </div>
    </form>
</fieldset>

<fieldset class="form_content">
    <legend>Table Reset</legend>
    <form action="" method="">
        <div>
            <input id="submit_reset" type="button" value="Submit Reset"></input>
        </div>
    </form>
</fieldset>

<fieldset class="form_content">
    <legend>Table Display</legend>
    <form action="" method="">
        <div>
            <table>
                <tbody id="myTable">
                    <tr>
                        <th>Name</th>
                        <th>Reps</th>
                        <th>Weight</th>
                        <th>Date</th>
                        <th>Unit</th>
                    </tr>
                    <tr>
                        <td id="wName"></td>
                        <td id="wReps"></td>
                        <td id="wWeight"></td>
                        <td id="wDate"></td>
                        <td id="wunit"></td>
                        <td>
                            <input id="remove_row" type="button" value="Remove"></input>
                            <input id="edit_row" type="button" value="Edit"></input>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</fieldset>

<script>
    var tableSize = 0;
    var tableInfo;
    var url = 'http://flip3.engr.oregonstate.edu:6329/insert';
    console.log("tableSize = " + tableSize);

    function submitPost()
    {
        var payload = {};
        payload.reset = false;
        payload.name = document.getElementById('name_field').value.toLowerCase();
        payload.reps = document.getElementById('reps_field').value.toLowerCase();
        payload.weight = document.getElementById('weight_field').value.toLowerCase();
        payload.date = document.getElementById('date_field').value.toLowerCase();
        payload.unit = document.getElementById('unit_field').value.toLowerCase();

        var req = new XMLHttpRequest();
        req.open('POST', url, true);
        req.setRequestHeader('Content-Type', 'application/json');
        req.addEventListener('load',
            function ()
            {
                if (req.status >= 200 && req.status <= 400)
                {
                    //response = JSON.parse(req.responseText);
                    //window.location.href = "/workout";
                    console.log(req.responseText);

                }
                else
                {
                    console.log('Error in network request: ' + req.statusText);
                }
            }
        );
        req.send(JSON.stringify(payload));
        tableSize = tableSize + 1;
        console.log("tableSize = " + tableSize);
        getData();
    }

    function getData()
    {
        var theTable = document.getElementById('myTable');
        console.log("tableSize = " + tableSize);
        var payload = {};
        payload.reset = false;
        payload.id = tableSize;
        console.log("payloadsize = " + payload.id);
        var req = new XMLHttpRequest();
        req.open('GET', url, true);
        req.setRequestHeader('Content-Type', 'application/json');
        req.addEventListener('load',
            function ()
            {
                if (req.status >= 200 && req.status <= 400)
                {
                    tableInfo = req.responseText;
                    console.log(tableInfo);
                    var tData = JSON.parse(tableInfo);
                    console.log(tData.workoutList);
                    console.log(tData.workoutList[0].name);
                    console.log('and then we did');
                    function tableTime(tData, tableID)
                    {
                        for (var item of tData.workoutList)
                        {
                            let workoutTable = tableID;
                            let newRow = workoutTable.insertRow(-1);
                            let newCell = newRow.insertCell(0);
                            let newText = document.createtextnode(tData.workoutList[0].name);
                            newCell.appendChild(newText);
                            let newCell1 = newRow.insertCell(1);
                            newText = document.createtextnode(tData.workoutList[0].reps);
                            newCell1.appendChild(newText);
                            let newCell2 = newRow.insertCell(2);
                            newText = document.createtextnode(tData.workoutList[0].weight);
                            newCell2.appendChild(newText);
                            let newCell3 = newRow.insertCell(3);
                            newText = document.createtextnode(tData.workoutList[0].date);
                            newCell3.appendChild(newText);
                            let newCell4 = newRow.insertCell(4);
                            newText = document.createtextnode(tData.workoutList[0].lbs);
                            newCell4.appendChild(newText);
                        }
                    }
                    tableTime(tData, theTable);
                    //response = JSON.parse(req.responseText);
                    //window.location.href = "/workout";
                    //tableInfo = req.responseText;
                    //console.log(tableInfo);
                    //var tData = JSON.parse(tableInfo);
                    //console.log("test 1 " + tData);
                    //var test2 = tData[0].name;
                    //console.log("test 2 " + test2);
                    //var name = tData[0].name;
                    //console.log(name);
                    //var reps = tData[0].reps;
                    //var weight = tData[0].weight;
                    //var date = tData[0].date;
                    //var unit = tData[0].lbs;
                    //function addRow(tableID, name, reps, weight, date, unit)
                    //{
                    //    let workoutTable = document.getElementById(tableID);
                    //    let newRow = workoutTable.insertRow(-1);
                    //    let newCell = newRow.insertCell(0);
                    //    let newText = document.createTextNode(name);
                    //    newCell.appendChild(newText);
                    //    let newCell2 = newRow.insertCell(1);
                    //    newText = document.createTextNode(reps);
                    //    newCell2.appendChild(newText);
                    //    let newCell3 = newRow.insertCell(2);
                    //    newText = document.createTextNode(weight);
                    //    newCell3.appendChild(newText);
                    //    let newCell4 = newRow.insertCell(3);
                    //    newText = document.createTextNode(date);
                    //    newCell4.appendChild(newText);
                    //    let newCell5 = newRow.insertCell(4);
                    //    newText = document.createTextNode(unit);
                    //    newCell5.appendChild(newText);
                    //}

                    //addRow('myTable', name, reps, weight, date, unit);
                }
                else
                {
                    console.log('Error in network request: ' + req.statusText);
                }
            }
        );
        req.send(tableInfo);
    }

    function submitReset()
    {
        // Create the url to POST the weather info in JSON format.
        var payload = {};
        payload.reset = true;

        var url = 'http://flip3.engr.oregonstate.edu:6329/reset';

        var req = new XMLHttpRequest();
        req.open('POST', url, true);
        req.setRequestHeader('Content-Type', 'application/json');
        req.addEventListener('load',
            function ()
            {
                if (req.status >= 200 && req.status <= 400)
                {
                    //response = JSON.parse(req.responseText);
                    // window.location.href = "/workout";
                    payload = JSON.stringify(payload);
                }
                else
                {
                    console.log('Error in network request: ' + req.statusText);
                }
            }
        );
        req.send(payload);
    }

    document.getElementById('submit_post').addEventListener('click', submitPost);
    document.getElementById('submit_reset').addEventListener('click', submitReset);
</script>
